# See https://github.com/github/gitignore/blob/main/Python.gitignore
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# Django stuff:
*.log
local_settings.py
/db.sqlite3
/staticfiles/
/media/

# VS Code
.vscode/

# Personal notes, not part of the source code
/_notes/

# Environment variables
# Ignore all .env files except .env.example
.env
.env.*
!.env.example