{% extends "base.html" %}
{% block title %}Available Art | Art by CK{% endblock %}
{% block body_class %}available-art-background{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="gallery-quote cedarville-cursive-regular">
    My art is my Eden...
  </div>
  <p class="lead cedarville-cursive-regular">Browse original artworks currently available for purchase.</p>
  <div class="row">
    {% for art in available_arts %}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="{{ art.image.url }}" class="card-img-top" alt="{{ art.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ art.title }}</h5>
            <p class="card-text">{{ art.description }}</p>
            {% if art.price %}<p class="card-text"><strong>Price:</strong> {{ art.price }}</p>{% endif %}
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-center">No available art at the moment.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
