<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Art by CK{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-ENjdO4Dr2bkBIFxQpeoA6DQD5l5/2Q2F1p5V5Zl5LRp4VVx4Um1vskeMj0Sk7lN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="site-header">
      <h1><a href="{% url 'home' %}">Art by CK</a></h1>
    </header>
    <main class="site-content">
      {% block content %}{% endblock %}
    </main>
    <footer class="site-footer">
      <p>&copy; {% now 'Y' %} Art by CK</p>
    </footer>
  </body>
</html>
