{% extends "base.html" %} {% load cloudinary %} {% block title %}Exhibition |
Art by CK{% endblock %} {% block content %}
<div class="container py-5">
  <h2 class="mb-4 text-center">Exhibitions</h2>
  <p>
    Step into the work, I create beautiful exhibitions that allow viewers to
    engage with the art in a transformative way.
  </p>
  <div class="row">
    {% for exhibition in exhibitions %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {% if exhibition.image %}
        <img
          src="{{ exhibition.image.url }}"
          class="card-img-top"
          alt="{{ exhibition.title }}"
        />
        {% endif %} {% if exhibition.video and exhibition.video.public_id %}
        {% include "inserts/custom_video.html" with poster=exhibition.video_poster_url hls=exhibition.video_hls_url mp4=exhibition.video_mp4_url %}
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ exhibition.title }}</h5>
          <p class="card-text">{{ exhibition.description }}</p>
          <p class="card-text"><strong>Date:</strong> {{ exhibition.date }}</p>
          <p class="card-text">
            <strong>Location:</strong> {{ exhibition.location }}
          </p>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center">No exhibitions yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block extra_scripts %} {{ block.super }}
{% include "inserts/custom_video.html" with mode='script' %}
{% endblock %}
